body{
  text-align: center;
}

#reset{
  display: none;
}

#flippic {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.piggy{
  width: 250px;
}
.dice{
  width: 80px;
}
span {
  margin: 20px;
}
h1 {
  font-size: 50px;
  line-height: 50px;
}

.col-md-2 {
  margin-top: 60px;
}
